$font: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Microsoft JhengHei",微軟正黑體,Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

$backgroundColor: #f6f8fc;
$color: #212529;
$themeColor: #1caee7;

$btnForegroundLighter: true;

$blockBoxShadow: 0 1px 2px rgba(62, 31, 50, .03);

$navWidth: 300px;

// this is allow to override the size but not the breakpoints
$grid-breakpoints:  (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$grid-columns:      12;
$grid-row-columns:  6;

// ----- PROJECT CUSTOMIZE ----- //
$themeColor: #355ba6;