.page-head{
    margin: 1.5em 0;
    &--wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &--title{
        font-size: 1.55em;
        font-weight: bold;
        margin-right: 8px;
        small{
            display: inline-block;
            font-size: .65em;
            font-weight: normal;
            opacity: .8;
            margin: 0 .35em;
        }
    }
    &--actions{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 -6px;
    }
    &--action{
        padding: 2px 6px;
    }
}