*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body{
    font-family: Source Sans Pro,Microsoft Jhenghei,細明體_HKSCS,sans-serif;
    color:#212529
}

p{
    margin: 0
}

fieldset{
    padding: 0;
    margin: 0;
    border: 0
}

fieldset legend{
    position: fixed;
    left: -50000px;
    width: 1px;
    height: 1px;
    overflow: hidden
}