.appearance{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &--wrapper{
        //
    }
    &--arrow-right{
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 10px solid $dominant;
        margin-left: 8px;
    }
}