.header{
    &--mb{
        position: fixed;
        top: 0;
        left: 0;
        max-height: 100vh;
        width: 100%;
        background-color: #fff;
        overflow: auto;
        box-shadow: 0 3px 5px rgba(#000, .15);
    }
    &--contact-btn{
        border-radius: 20px;
        box-shadow: 0 2px 5px rgba(#000, .2);
        margin: 8px 0;
        img{
            width: 100%;
            height: auto;
            max-width: 120px;
            @media (min-width: 420px) {
                max-width: 150px;
            }
        }
    }
}