header{
  font-family: $font;
  color: $color;
  position: relative;
  z-index: 999;
  img {
    width: auto;
    height: 100%;
  }

  div.logo {
    height: 83px;
    padding: 10px 0;
  }

  div.no-touch:hover {
    border-bottom: 10px solid red;
    text-shadow: 0 0 $shadow*1;
  }
  a {
    color: black;
    display: block;
    height: 100%;
    .no-touch:hover {
      color: $dominant;
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  width: 100px;
  color: black;
  background-color: white;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 100%;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: $normal-padding-top-bottom $normal-padding-left-right;
}

.dropdown-content a:hover {
  color: $dominant;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.test {
  font-size: 500%;
}

.black {
  color: $black;
}

.full-width {
  width: 100%;
  height: auto;
}

.s-pm {
  padding: $normal-padding-top-bottom $normal-padding-left-right;
  margin: $normal-margin-top-bottom $normal-margin-left-right;
}

.m-pm {
  padding: $normal-padding-top-bottom*3 $normal-padding-left-right*3;
  margin: $normal-margin-top-bottom*3 $normal-margin-left-right*3;
}

.l-pm {
  padding: $normal-padding-top-bottom*5 $normal-padding-left-right*5;
  margin: $normal-margin-top-bottom*5 $normal-margin-left-right*5;
}

.s-pmTB {
  padding: $normal-padding-top-bottom 0;
  margin: $normal-margin-top-bottom 0;
}

.m-pmTB {
  padding: $normal-padding-top-bottom*3 0;
  margin: $normal-margin-top-bottom*3 0;
}

.l-pmTB {
  padding: $normal-padding-top-bottom*5 0;
  margin: $normal-margin-top-bottom*5 0;
}

.pm-sTB {
  padding: $normal-padding-top-bottom 0;
  margin: $normal-margin-top-bottom 0;
}

.pm-mTB {
  padding: $normal-padding-top-bottom*3 0;
  margin: $normal-margin-top-bottom*3 0;
}

.pm-lTB {
  padding: $normal-padding-top-bottom*5 0;
  margin: $normal-margin-top-bottom*5 0;
}

.pm-sT {
  padding: $normal-padding-top-bottom 0 0 0;
  margin: $normal-margin-top-bottom 0 0 0;
}

.pm-mT {
  padding: $normal-padding-top-bottom*3 0 0 0;
  margin: $normal-margin-top-bottom*3 0 0 0;
}

.p-s {
  padding: $normal-padding-top-bottom $normal-padding-left-right;
}

.p-m {
  padding: $normal-padding-top-bottom*3 $normal-padding-left-right*3;
}

.p-l {
  padding: $normal-padding-top-bottom*5 $normal-padding-left-right*5;
}

.p-mTB {
  padding: $normal-padding-top-bottom*3 0;
}

.p-mLR {
  padding: 0 $normal-padding-left-right*3;
}

.m-mLR {
  margin: 0 $normal-padding-left-right*3;
}

.p-xsLR {
  padding: 0 1px;
}

.pm-z {
  padding: 0;
  margin: 0;
}


.pm-s {
  padding: $normal-padding-top-bottom $normal-padding-left-right;
  margin: $normal-margin-top-bottom $normal-margin-left-right;
}

.pm-l {
  padding: $normal-padding-top-bottom*5 $normal-padding-left-right*5;
  margin: $normal-margin-top-bottom*5 $normal-margin-left-right*5;
}

.pm-lLR {
  margin: 0 $normal-margin-left-right*5;
}

.tounch-TeamS01 {
  color: $dominant;
  &.touch:hover {
    color: white;
    background-color: $dominant;
  }
}

.touch-Header {
  position: relative;
  display: table;
  height: 100%;
  color: black;
  > * {
    display: table-cell;
    vertical-align: middle;
  }
  &.touch {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      height: 0;
      background-color: red;
      width: 100%;
      transition: .3s;
    }
    &:hover {
      color: $dominant;
      text-shadow: 0 0 $shadow*1;
      &::after {
        height: 10px;
      }
    }
  }
}
