$font: "Microsoft JhengHei", 微軟正黑體, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, "Helvetica Neue", Arial, sans-serif;

$color: #2c2c2c;

$black: #000000;

$dominant: #337ABB;

$subdominant: #5a95cf;

$gray: #808080;

$light-gray: #fafafa;

$normal-padding-top-bottom: 1vh;

$normal-padding-left-right: 1vw;

$normal-margin-top-bottom: 1vh;

$normal-margin-left-right: 1vw;

$normal-rounded-corners-radius: 5vmin;

$shadow: 1px;

$border_radius: 5px;


$padding_baseX: 1vw;
$padding_baseY: 1vh;

$padding-top: $padding-baseY;
$padding-right: $padding-baseX;
$padding-bottom: $padding-baseY;
$padding-left: $padding-baseX;

$padding_top: $padding_baseY;
$padding_right: $padding_baseX;
$padding_bottom: $padding_baseY;
$padding_left: $padding_baseX;
